Bad request (400) not showing the error message

### Steps to reproduce

When the API responds with 400 (Bad Request) there is no error message shown for the user. Based on the HTTP status codes the code 400 is a user error and if there any messages returned back from the server should be present to the user knowledge. [RFC 7231 Section 6.5](https://www.rfc-editor.org/rfc/rfc7231#section-6.5).

### Expected behavior

Should present the reason of the failure to the user knowledge based on the programming standards and http protocol.

### Actual behavior

It does not present the user error message.

### Translate You version

16.1

### Android version

Android 10

### Other details

Please find screenshots bellow:

<img width="391" height="775" alt="Image" src="https://github.com/user-attachments/assets/81b33e78-5736-48ff-b413-36e1dda6f13c" />

<img width="704" height="440" alt="Image" src="https://github.com/user-attachments/assets/da70d908-329e-44dc-96cf-4608701374b9" />

### Acknowledgements

- [x] I have searched the existing issues and this is a new ticket, **NOT** a duplicate or related to another open issue.
- [x] I have written a short but informative title.
- [x] I will fill out all of the requested information in this form.